@inherits HouseholdsBase

<h3>Add new Household</h3>
<div>
   <form @onsubmit="OnAddNewHousehold">
      <input type="text" id="householdName" @bind-value="NewHouseholdName" placeholder="Enter new Household Name" />
      <button type="submit" disabled="@IsOffline">Add</button>
   </form>
</div>

<h3>Find your Household</h3>

<div>
   <form @onsubmit="OnSearchForCode">
      <input type="text" id="householdcode" @bind-value="HouseholdCode" placeholder="Enter Household Code" />
      <button type="submit" disabled="@IsOffline">Search</button>
   </form>
</div>

@if (SearchedForCode)
{
<div>
   @if (!SearchSuccessful)
   {
      <a>No Household found with that code</a>
   }
   else
   {
      <a>Success</a>
   }
</div>
}
<div>
   <table class="table">
      <thead>
         <tr>
            <th>Household</th>
            <th>Code</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>

         @foreach (var household in RecentHouseholds)
         {
         <tr>
            <td>@household.Name</td>
            <td>@household.HouseholdCode</td>
            <td><button @onclick="@(x => NavigateToHousehold(household.HouseholdId))">Details</button></td>
            <td><button @onclick="@(x => RemoveFromRecentList(household))">Remove From Recent List</button></td>
            <td><button @onclick="@(x => DeleteHousehold(household))" disabled="@IsOffline">Delete Household</button></td>
         </tr>
         }
      </tbody>
   </table>
</div>