@inherits HouseholdsBase

<div>
   <button @onclick="@OnAddHousehold" disabled="@IsOffline" class="btn btn-dark table-btn quick-add-btn"><i class="fas fa-plus" /></button>

   <div>
      <input type="text" id="householdcode" @bind-value="HouseholdCode" placeholder="Enter Household Code" />
      <button @onclick="@OnSearchForCode" disabled="@IsOffline" class="btn btn-dark table-btn quick-add-btn"><i class="fas fa-search" /></button>
   </div>
</div>

<div>
   <table class="table">
      <thead>
         <tr>
            <th>Household</th>
            <th>Code</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>

         @foreach (var household in RecentHouseholds)
         {
            <tr>
               <td>@household.Name</td>
               <td>@household.HouseholdCode</td>
               <td>
                  <button @onclick="@(x => NavigateToHousehold(household.HouseholdId))" class="btn btn-primary table-btn">
                        <i class="fas fa-eye" />
                     </button>
               </td>
               <td>
                  <button @onclick="@(x => RemoveFromRecentList(household))" class="btn btn-primary table-btn">
                     <i class="fas fa-unlink"></i>
                  </button>
               </td>
               <td>
                  <button @onclick="@(x => DeleteHousehold(household))" disabled="@IsOffline" class="btn btn-primary table-btn">
                     <i class="fas fa-trash" />
                  </button>
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>

<HouseholdEditComponent @ref="EditHousehold" CloseEventCallback="@EditHousehold_OnClose" />