@page "/household/{HouseholdId}/fridge/{FridgeId}"
@using Frinfo.Shared
@inherits FridgeDetailBase

@if (Fridge == null)
{
   <a>Loading...</a>
}
else
{
   <h3>@Fridge.Name Details</h3>

   <div>
      <table class="table">
         <thead>
            <tr>
               <th>Fridge</th>
               <th>ExpirationDate</th>
               <th>Image</th>
               <th></th>
               <th></th>
            </tr>
         </thead>
         <tbody>

            @foreach (var item in FridgeItems)
            {
               <tr>
                  <td>@item.Name</td>
                  <td>
                     @if (item.ExpirationDate.HasValue)
                     {
                        @item.ExpirationDate.Value.ToShortDateString()
                     }
                  </td>
                  <td>
                     <img src="@GetImageSource(item)" height="64" width="64" />
                  </td>
                  <td><button @onclick="@(x => EditItem(item))" disabled="@IsOffline">Edit Item</button></td>
                  <td><button @onclick="@(x => DeleteFridgeItem(item))" disabled="@IsOffline">Delete Item</button></td>
               </tr>
            }
         </tbody>
      </table>
   </div>

   <button @onclick="@AddFridgeItem" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
   <FridgeItemEditComponent @ref="EditFridgeItem" Fridge="Fridge" CloseEventCallback="@EditFridgeItem_OnClose"></FridgeItemEditComponent>
}