@page "/household/{HouseholdId}/fridge/{FridgeId}"
@using Frinfo.Shared
@inherits FridgeDetailBase

   <div>
      <h1 class="page-title">@Fridge.Name</h1>
      <button disabled="@IsOffline" class="btn btn-light" @onclick="@OnEditFridgeTitle">
         <i class="fas fa-edit" />
      </button>
      <button disabled="@IsOffline" class="btn btn-danger" @onclick="@OnRemoveFridge">
         <i class="fas fa-trash" />
      </button>
      <button @onclick="@AddFridgeItem" class="btn btn-dark table-btn quick-add-btn" disabled="@IsOffline"><i class="fas fa-plus" /></button>

      <button @onclick="@BackToHousehold" class="btn btn-light" disabled="@IsOffline"><i class="fas fa-long-arrow-alt-left" /></button>
   </div>

@if (Fridge == null)
{
   <a>Loading...</a>
}
else
{

   <div>
      <table class="table">
         <thead>
            <tr>
               <th>Item</th>
               <th>ExpirationDate</th>
               <th>Image</th>
               <th></th>
               <th></th>
            </tr>
         </thead>
         <tbody>

            @foreach (var item in FridgeItems)
            {
               <tr>
                  <td>@item.Name</td>
                  <td>
                     @if (item.ExpirationDate.HasValue)
                     {
                        @item.ExpirationDate.Value.ToShortDateString()
                     }
                  </td>
                  <td>
                     <img src="@GetImageSource(item)" height="64" width="64" />
                  </td>
                  <td>
                     <button @onclick="@(x => EditItem(item))" disabled="@IsOffline" class="btn btn-primary table-btn">
                        <i class="fas fa-edit" />
                     </button>
                  </td>
                  <td>
                     <button @onclick="@(x => DeleteFridgeItem(item))" disabled="@IsOffline" class="btn btn-danger table-btn">
                        <i class="fas fa-trash" />
                     </button>
                  </td>
               </tr>
            }
         </tbody>
      </table>
   </div>
   <div>
      <Frinfo.Client.Components.DueFood HouseholdId="@int.Parse(HouseholdId)" FridgeId="@int.Parse(FridgeId)" />
   </div>
   <FridgeItemEditComponent @ref="EditFridgeItem" Fridge="Fridge" CloseEventCallback="@EditFridgeItem_OnClose"></FridgeItemEditComponent>
   <FridgeEditComponent @ref="EditFridge" Household="Fridge.Household" CloseEventCallback="@EditFridge_OnClose"></FridgeEditComponent>
}