@page "/household/{HouseholdId}/fridge/{FridgeId}"
@using Frinfo.Shared
@inherits FridgeDetailBase

<h3>Add new Item</h3>
<div>
   <EditForm Model="@FridgeItem" OnValidSubmit="@AddFridgeItem">
      <div>
         <label for="itemName">Item Name:</label>
         <InputText id="itemName" @bind-Value="@FridgeItem.Name" placeholder="Enter Item Name" />
      </div>
      <div>
         <label for="expirationDate">Expiration Date:</label>
         <InputDate TValue="System.Nullable<System.DateTime>" id="expirationDate" @bind-Value="@FridgeItem.ExpirationDate" placeholder="Enter Expiry date" />
      </div>
      <div>
         <label for="image">Image</label>
         <input id="image" type="file" @ref=inputTypeFileElement />
      </div>

      <button type="submit">Add</button>
   </EditForm>
</div>

@if (Fridge == null)
{
   <a>Loading...</a>
}
else
{
   <h3>@Fridge.Name Details</h3>

   <div>
      <table class="table">
         <thead>
            <tr>
               <th>Fridge</th>
               <th>ExpirationDate</th>
               <th>Image</th>
               <th></th>
            </tr>
         </thead>
         <tbody>

            @foreach (var item in FridgeItems)
            {
               <tr>
                  <td>@item.Name</td>
                  <td>
                     @if (item.ExpirationDate.HasValue)
                     {
                        @item.ExpirationDate.Value.ToShortDateString()
                     }
                  </td>
                  <td>
                     @if (item.ItemImage == null || item.ItemImage.Length == 0)
                     {
                        <img src="images/french-fries.png" height="64" width="64" />
                     }
                     else
                     {
                        <img src="@GetImageSource(item)" height="64" width="64" />
                     }
                  </td>
                  <td><button @onclick="@(x => DeleteFridgeItem(item))">Delete Fridge</button></td>
               </tr>
            }
         </tbody>
      </table>
   </div>
}