@page "/household/{HouseholdId}"
@inherits HouseholdDetailBase

<h3>Add new Fridge</h3>
<div>
   <form @onsubmit="OnAddNewFridge">
      <input type="text" id="fridgeName" @bind-value="NewFridgeName" placeholder="Enter new Fridge Name" />
      <button type="submit" disabled="@IsOffline">Add</button>
   </form>
</div>

@if (Household == null)
{
   <a>Loading...</a>
}
else
{
   <h3>@Household.Name Details</h3>
   
      <div>
         <table class="table">
            <thead>
               <tr>
                  <th>Fridge</th>
                  <th></th>
                  <th></th>
               </tr>
            </thead>
            <tbody>

               @foreach (var fridge in Fridges)
               {
                  <tr>
                     <td>@fridge.Name</td>
                     <td><button @onclick="@(x => NavigateToFridge(fridge.FridgeId))">Details</button></td>
                     <td><button @onclick="@(x => DeleteFridge(fridge))" disabled="@IsOffline">Delete Fridge</button></td>
                  </tr>
               }
            </tbody>
         </table>
      </div>
}