@page "/household/{HouseholdId}"
@inherits HouseholdDetailBase

<div>
   <h3 class="page-title">@Household.Name (@Household.HouseholdCode)</h3>
   <button disabled="@IsOffline" class="btn btn-light" @onclick="@OnEditHousehold">
      <i class="fas fa-edit" />
   </button>
   <button disabled="@IsOffline" class="btn btn-danger" @onclick="@OnRemoveHousehold">
      <i class="fas fa-trash" />
   </button>
   <button @onclick="@AddNewFridge" disabled="@IsOffline" class="btn btn-dark table-btn quick-add-btn"><i class="fas fa-plus" /></button>
</div>

@if (Household == null)
{
   <a>Loading...</a>
}
else
{

   <div>
      <table class="table">
         <thead>
            <tr>
               <th>Fridge</th>
               <th></th>
               <th></th>
            </tr>
         </thead>
         <tbody>

            @foreach (var fridge in Fridges)
            {
               <tr>
                  <td>@fridge.Name</td>
                  <td>
                     <button @onclick="@(x => NavigateToFridge(fridge.FridgeId))" class="btn btn-primary table-btn">
                        <i class="fas fa-eye" />
                     </button>
                  </td>
                  <td>
                     <button @onclick="@(x => DeleteFridge(fridge))" disabled="@IsOffline" class="btn btn-danger table-btn">
                        <i class="fas fa-trash" />
                     </button>
                  </td>
               </tr>
            }
         </tbody>
      </table>
   </div>
   <div>
      <Frinfo.Client.Components.DueFood HouseholdId="@int.Parse(HouseholdId)"/>
   </div>

   <FridgeEditComponent @ref="EditFridge" Household="Household" CloseEventCallback="@AddFridge_OnClose"></FridgeEditComponent>
   <HouseholdEditComponent @ref="EditHousehold" CloseEventCallback="@EditHousehold_OnClose" />
}